<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" 
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".SignoXOfflineApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_legacy"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SignoXOfflineManager"
        tools:targetApi="31">
        
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SignoXOfflineManager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.player.PlayerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SignoXOfflineManager.Fullscreen" />
            
        <activity
            android:name=".ui.playlist.PlaylistEditorActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SignoXOfflineManager" />
            
        <activity
            android:name=".ui.layout.LayoutEditorActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SignoXOfflineManager" />
            
    </application>

</manifest>